:root {
    /* Colors */

        /* Primary */
--Pink: hsl(322, 100%, 66%);
--Light-Pink: hsl(321, 100%, 78%);
--Light-Red: hsl(0, 100%, 63%);
--White: hsl(0, 0%, 100%);

        /* Neutral */
--Very-Dark-Cyan: hsl(192, 100%, 9%);
--Very-Pale-Blue: hsl(207, 100%, 98%);

    /* Typography */
--Delay-button: .3s;
--Padding-b: 7rem
}
/* Start Global rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
html {caret-color: var(--Light-Pink)}
body {
    font-family: "Open Sans", serif;
    background-color: var(--White);
    display: flex;
    flex-direction: column;
    min-height: 100vh
}
h1, h2, h3,
h4, h5, h6 {
    font-family: "Poppins", serif;
    font-weight: 700
}
p {
    font-size: 1rem;
    line-height: 1.4
}
ul {
    list-style: none
}
a {
    text-decoration: none;
    color: var(--Very-Pale-Blue)
}
img, picture {
    display: block;
    max-width: 100%;
}
picture img {
    width: 100%
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
/* Start framewworks */
.ClickButton {
    display: inline-block;
    background-color: var(--Pink);
    padding: 10px 25px;
    border-radius: 1.5rem;
    font-weight: 600;
    margin: 3rem auto;
    --shadow: hsla(192, 100%, 9%, 0.212);
    box-shadow: 0px 1px 5px 2px var(--shadow);
    transition: var(--Delay-button)
}
.ClickButton:hover {
    background-color: var(--Light-Pink)
}
    /* Start header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    padding-bottom: var(--Padding-b)
}
.header .logo img {
    width: 6.25rem
}
.header a {
    color: var(--Light-Pink);
    border: 1px solid;
    border-radius: 1rem;
    padding: .3125rem .9375rem;
    transition: var(--Delay-button);
    font-weight: 600;
    font-size: .75rem
}
.header a:hover {
    color: var(--Very-Pale-Blue);
    background-color: var(--Pink);
    border-color: transparent 
}
    /* End header */
    /* Start main */
.main_container {flex: 1}
/* Start page info */
.page_info_container {
    display: grid;
    place-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 0 30px
}
.page_info_container .page_info {
    color: var(--Very-Dark-Cyan);
}
.page_info_container .page_info h3 {
    font-size: 1.75rem;
    margin-bottom: 1rem
}
.page_info_container .page_info img {
    margin: 0 auto
}
.page_info_container .stat .box {
    padding: 4rem 1rem
}
.page_info_container .stat .box span {
    display: block
}
.page_info_container .stat .box span:first-of-type {
    font-size: 5rem;
    font-weight: 700
}
.page_info_container .stat .box span:last-of-type {
    --light-black: hsla(192, 100%, 9%, 0.623);
    color: var(--light-black)
}
/* End page info */
/* Start about us */
.about_us_container .about_us .content {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    color: var(--Very-Dark-Cyan);
    padding: 2rem
}
.about_us_container .about_us:first-of-type .content,
.about_us_container .about_us:last-child .content {
    background: var(--Very-Pale-Blue)
}
.about_us_container .about_us .content .mockup {
    width: 37.5rem;
    margin: 0 auto
}
.about_us_container .about_us .text h3 {
    font-size: 2rem;
    margin-top: 3rem;
    margin-bottom: 1rem
}
.about_us_container .about_us .text p {
    margin: 0 auto
}
/* End about us */
/* Start build community */
.build_community_container {
    display: grid;
    place-items: center;
    margin: 30px auto;
    text-align: center
}
.build_community_container h2 {
    margin-bottom: -1.25rem
}
/* End build community */
    /* End main */
    /* Start Footer */
.footer .box_container {
    background-color: var(--Very-Dark-Cyan);
    color: var(--Very-Pale-Blue);
    font-size: .75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start
}
.footer .box_container .box {
    padding: 0 2rem 2rem
}
.footer .box_container .box h3 {
    text-transform: uppercase;
    font-size: 1.75rem
}
.footer .box_container .box p {
    font-size: .75rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    font-weight: 600
}
.footer .box_container .box form {
    display: flex;
    flex-direction: column
}
.footer .box_container .box input[type="email"] {
    display: block;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0.625rem 1rem;
}
.footer .box_container .box button[type="submit"] {
    align-self: flex-end;
    margin-top: 15px;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    background-color: var(--Pink);
    transition: var(--Delay-button);
    font-weight: 700;
    color: var(--Very-Pale-Blue);
    cursor: pointer
}
.footer .box_container .box button[type="submit"]:hover {
    background-color: var(--Light-Pink)
}
.footer .box_container .box img {
    filter: brightness(0) invert(1);
    width: 12rem
}
.footer .box_container .box .contact li {
    margin-bottom: 15px;
    font-weight: 600;
}
.footer .box_container .box .contact a {
    margin-left: 15px;
    transition: var(--Delay-button)
}
.footer .box_container .box .contact a:hover {
    color: var(--Light-Pink)
}
.footer .box_container .box .icons {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-top: 30px
}
.footer .box_container .box .icons a {
    font-size: 1.5rem;
    transition: var(--Delay-button)
}
.footer .box_container .box .icons a:hover {
    color: var(--Light-Pink)
}
    /* End Footer */

@media (min-width: 62rem) {
    .header {
        padding: 4rem;
    }
    .header .logo img {
        width: 12rem
    }
    .header a {
    font-size: 1rem
    }
    .page_info_container .page_info h3 {
        font-size: 2rem;
    }
    .page_info_container .page_info p {
        width: 50%;
        margin: 0 auto
    }
    .page_info_container .stat {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    .about_us_container .about_us .content {
        flex-direction: row;
        text-align: left;
        align-items: center;
        gap: 80px;
        padding: 2rem 7rem 2rem 9rem
    }
    .about_us_container .about_us:nth-child(2) .content {
        flex-direction:row-reverse;
        text-align: left;
    }
    .about_us_container .about_us .content .mockup {
        width: 500px
    }
    .footer .box_container {
        flex-direction: row-reverse;
        padding-top: 40px;
        gap: 50px;
    }
    .footer .box_container .box {
        flex-basis: 50%;
        padding: 0 7rem 2rem 9rem
    }
    .footer .box_container .box p {
        margin-top: 1rem;
        width: 60%
    }
    .footer .box_container .box form {
        display: flex;
        flex-direction: row;
        gap: 1.25rem;
        justify-content: flex-start
    }
    .footer .box_container .box input[type="submit"] {
        margin-top: 1rem;
        margin: 0
    }
    .footer .box_container .box .icons {
        margin-top: 4rem
    }
}

@media (min-width: 28.125rem) {
    .footer .box_container .box form {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1.25rem
    }
    .footer .box_container .box input[type="email"] {
        padding: 0.625rem 4rem;
    }
    .footer .box_container .box button[type="submit"] {
        margin-top: 1rem;
        margin: 0
    }
}
